html {
  background: url(../assets/images/lines.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  background-color: #E8E8E8
}

#content-container {
  font-size: 20pt;
  padding: 5px 40px;
}

#end-content {
	padding-top: 50px;
}
