html {
  background: url(../images/lines_and_lines.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  background-color: #E8E8E8
}

#content-container {
  font-size: 20pt;
  padding: 35px;
}
